.ft-h1 {
  font-size: 2em;
  font-weight: bold;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
}

.ft-h3 {
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  font-weight: bold;
}

.ft-sub {
  vertical-align: sub;
}

.ft-sup {
  vertical-align: super;
}

.ft-bold {
  font-weight: bold;
}

.ft-small {
  font-size: smaller;
}

.ft-italic {
  font-style: italic;
}

.ft-line {
  text-decoration: line-through;
}

.ft-underline {
  text-decoration: underline;
}

.ft-h5 {
  font-size: 0.83em;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  font-weight: bold;
}

.ft-ul {
  margin: 16px 0;
  padding-left: 40px;
}

.ft-li {
  display: list-item;
  list-style-type: disc;
}
