.blocks {
  flex-basis: 65%;
}

.blocks h1 {
  font-size: 1.5rem;
  color: red;
  font-weight: 400;
}

.blocks__content {
  display: flex;
  gap: 5%;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10%;
}
