.google-fonts {
  font-size: 35px;
}

.font-bruno {
  font-family: 'Bruno Ace SC';
}

.font-poppins {
  font-family: 'Poppins';
}

.font-dancing {
  font-family: 'Dancing Script', cursive;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}
