.mydata {
  color: #7e7f81;
  margin: 2% 5%;
}

.mydata h2 {
  color: black;
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 0;
}

.mydata__city {
  margin-top: 1%;
}

.mydata div {
  margin: 15% 0;
}

.mydata div p {
  margin: 1% 0;
}

.mydata__logo {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: auto;
}
